<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Name</label>
                    <input placeholder="Enter name" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Roll no:</label>
                    <input placeholder="Enter Roll no" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">college</label>
                    <input placeholder="Enter college name" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Admission no:</label>
                    <input placeholder="Enter admission no" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Parent Name</label>
                    <input placeholder="Enter parent name" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Date of Birth</label>
                    <input type="date" name="" id="" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Address</label>
                    <textarea placeholder="Enter address" name="" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Mobile No:</label>
                    <input placeholder="987654321" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Parent Mobile No:</label>
                    <input placeholder="987654321" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Email id</label>
                    <input placeholder="ex@gmail.com" type="email" name="" id="" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Blood Group</label>
                    <select name="" id="" class="form-control">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success">Submit</button>
                </div>
               
        </div>
    </div>
</div>
